.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.registration-presentation-wrapper-heading {
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 1em;
}

.registration-presentation-wrapper-heading span {
    font-weight: 300;
}

.registration-presentation-wrapper-description {
    font-weight: 100;
}

.registration-card {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.1);
    border: none;
}

@media screen and (min-width: 768px) {
    .registration-container {
        padding-top: 4em;
    }
}
@media screen and (max-width: 767px) {
    .registration-container {
        padding-top: 2em;
    }
}

.registration-error {
    color: red;
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 0.9em;
}

.registration-error label {
    margin: 0;
}

.form-group {
    margin-bottom: 0.3rem;
    margin-top: 0.7rem;
}


.logo {
    background: url(../assets/img/logo.png) no-repeat;
    background-size: contain;
    height: 100px;
    background-position: center;
}
.card-title {
    font-weight: 300;
}

/* Register only classes are only visible when Form has class "form-register" */
.register-only {
    display: none;
}

.form-register .register-only {
    display: flex;
}

.profile-card-body {
    display:none;
}
.profile-card-string {

}